/* 
FONT FAMILY

h1 font-family: 'DM Serif Display', serif;
h2 font-family: 'DM Serif Text', serif;
The rest font-family: 'DM Sans', sans-serif; (400, 700)

COLORS AS HEX

Background Grey { color: #646464 }
Lightest Grey { color: #c2c1c1 }
Lighter Grey { color: #868686 }
Darker Grey { color: #464646 }
Dark Grey { color: #222222 }
Pink { color: #ffaed4;}
 */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FONTS & COLORS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

:root {
    --background-grey-color: #646464;
    --lighter-grey-color: #868686;
    --lightest-grey-color: #c2c1c1;
    --darker-grey-color: #464646;
    --darkest-grey-color: #222;
    --primary-pink-color: #ffaed4;
    --secondary-pink-color: #fa96c5;

    --primary-font-weight: 400;

    --h1-font-size: 22px;
    --h2-font-size: 20px;
    --h3-font-size: 16px;
    --h4-font-size: 14px;
    --p-font-size: 16px;

    --headings-font-family: 'DM Serif Display', serif;
    --copy-font-family: 'DM Sans', sans-serif;
  }

h1,
h2,
h3,
h4 {
    font-family: var(--headings-font-family);
    margin: 0;
}

.container h1 {
    text-align: center;
}

p {
    line-height: 1;
}

p.instructions {
    font-size: 12px;
    margin-bottom: 20px;
}

body {
    background-color: var(--background-grey-color);
    font-weight: var(--primary-font-weight);
    color: var(--darkest-grey-color);
    font-size: var(--p-font-size);
    font-family: var(--copy-font-family);

}

.container{
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background: var(--lightest-grey-color);
    border-radius: 0px;
}

form {
    display: inline-block;
}
input {
    all: unset;
  }

input,
input:focus {
    padding: 5px 15px;
    background-color: var(--lighter-grey-color);
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffaed4 inset;
    box-shadow: 0 0 0px 1000px #ffaed4 inset;
  }

/*Reset Button*/
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#button {
    
    background-color:var(--primary-pink-color);
    color:var(--darkest-grey-color);
    border-radius: 0px;
    text-align:center;
    padding: 5px 15px;
    float: right;
}

#button:hover {
    cursor: pointer;
    opacity: 1;
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 5px 15px;
    color: var(--darkest-grey-color);
}

ol li:nth-child(even) {
    background: var(--lighter-grey-color);
}

.strike {
    text-decoration: line-through;
}

li:hover{
    cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: var(--darkest-grey-color);
	font-weight: 800;
}




/*

  
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-grey-color);
    font-weight: var(--primary-font-weight);
    color: var(--darkest-grey-color);
    font-size: var(--p-font-size);
    font-family: var(--copy-font-family);

}



ul {
    list-style: none;
}

p {
    margin: 10px 0;
    padding-left: 10px;
    background-color: var(--lightest-grey-color);
    max-width: fit-content;
    line-height: 1;
}

header {
    background-color: var(--primary-pink-color);
    font-size: var(--h1-font-size);
}

/*Reset Button
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#task-list__button {
    background-color: #ffaed4;
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    border: 0px solid #c2c1c1;
    border-bottom: 4px solid var(--secondary-pink-color);
}

#task-list__button:hover {
    background-color: var(--lightest-grey-color);
    border-bottom: 4px solid var(--lighter-grey-color);
}

#task-list__button:active {
    background-color: var(--lightest-grey-color);
    border-top: 4px solid var(--lighter-grey-color);
    border-bottom: 0px;
}

.section__container {
    background-color: #868686;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.notepad {
    background-color: #464646;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page {
    background-color: #646464;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskItem {
    background-color: #464646;
    min-width: 430px;
    max-width: 90%;
    min-height: 34px;
    padding: 0px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.done {
    background-color: #c2c1c1;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.note {
    background-color: #c2c1c1;
    float: left;
    min-width: 314px;
    height: 30px;
    padding: 0px;
    
}

.remove {
    background-color: #c2c1c1;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
} */


